<a href="https://colab.research.google.com/github/karishmaghadge/BE-Project/blob/main/Rproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Karishma Ghadge roll no 14.

In [ ]:
%load_ext rpy2.ipython

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['data.csv']))
print(df)

   id      name  salary  start_date        dept
0   1      Rick  623.30  2012-01-01          IT
1   2       Dan  515.20  2013-09-23  Operations
2   3  Michelle  611.00  2014-11-15          IT
3   4      Ryan  729.00  2014-05-11          HR
4   5      Gary  843.25  2015-03-27     Finance
5   6      Nina  578.00  2013-05-21          IT
6   7     Simon  632.80  2013-07-30  Operations
7   8      Guru  722.50  2014-06-17     Finance

In [ ]:
url = 'https://raw.githubusercontent.com/karishmaghadge/R-project/main/data.csv'
df = pd.read_csv(url)

In [ ]:
url

'https://raw.githubusercontent.com/karishmaghadge/R-project/main/data.csv'

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_17',
 '_29',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'df',
 'drive',
 'exit',
 'files',
 'get_ipython',
 'io',
 'pd',
 'quit',
 'uploaded',
 'url']

In [ ]:
%%R
file.exists('/content/data.csv')

[1] TRUE

In [ ]:
%%R
csv_data<-read.csv(file = 'data.csv')
print(csv_data)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5  5     Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

In [ ]:
%%R
print(ncol(csv_data))

[1] 5

In [ ]:
%%R
print(nrow(csv_data))

[1] 8

In [ ]:
%%R
summary(csv_data)

       id           name               salary       start_date
 Min.   :1.00   Length:8           Min.   :515.2   Length:8
 1st Qu.:2.75   Class :character   1st Qu.:602.8   Class :character
 Median :4.50   Mode  :character   Median :628.0   Mode  :character
 Mean   :4.50                      Mean   :656.9
 3rd Qu.:6.25                      3rd Qu.:724.1
 Max.   :8.00                      Max.   :843.2
     dept
 Length:8
 Class :character
 Mode  :character

In [ ]:
%%R
library(tidyverse)
glimpse(csv_data)

Rows: 8
Columns: 5
$ id         <int> 1, 2, 3, 4, 5, 6, 7, 8
$ name       <chr> "Rick", "Dan", "Michelle", "Ryan", "Gary", "Nina", "Simon",…
$ salary     <dbl> 623.30, 515.20, 611.00, 729.00, 843.25, 578.00, 632.80, 722…
$ start_date <chr> "2012-01-01", "2013-09-23", "2014-11-15", "2014-05-11", "20…
$ dept       <chr> "IT", "Operations", "IT", "HR", "Finance", "IT", "Operation…

In [ ]:
%%R
lapply(csv_data,class)

$id
[1] "integer"

$name
[1] "character"

$salary
[1] "numeric"

$start_date
[1] "character"

$dept
[1] "character"

In [ ]:
%%R
m<-mean(csv_data$salary)
sprintf("%.5f",m)

[1] "656.88125"

In [ ]:
%%R
m<-median(csv_data$salary)
sprintf("%.5f",m)

[1] "628.05000"

In [ ]:
%%R
s<-sd(csv_data$salary)
sprintf("%.5f",s)

[1] "103.05946"

In [ ]:
%%R
min<-min(csv_data$salary)
sprintf("%.5f",min)

[1] "515.20000"

In [ ]:
%%R
max<-max(csv_data$salary)
sprintf("%.5f",max)

[1] "843.25000"

In [ ]:
%%R
s<-sapply(csv_data[ ,1:5],sd)
sprintf("%.5f",s)

[1] "2.44949"   "NA"        "103.05946" "NA"        "NA"

In [ ]:
%%R
sapply(csv_data[ ,1:5],min)

          id         name       salary   start_date         dept
         "1"        "Dan"      "515.2" "2012-01-01"    "Finance"

In [ ]:
%%R
sapply(csv_data[ ,1:5],max)

          id         name       salary   start_date         dept
         "8"      "Simon"     "843.25" "2015-03-27" "Operations"

In [ ]:
%%R
sapply(csv_data[ ,1:5],mean)

        id       name     salary start_date       dept
    4.5000         NA   656.8813         NA         NA

In [ ]:
%%R
sapply(csv_data[ ,1:5],median)

        id       name     salary start_date       dept
      4.50         NA     628.05         NA         NA

In [ ]:
%%R
csv_data%>% slice(1:2)

  id name salary start_date       dept
1  1 Rick  623.3 2012-01-01         IT
2  2  Dan  515.2 2013-09-23 Operations

In [ ]:
%%R
my_col1<-csv_data$data<-paste(csv_data$id,csv_data$name)
csv_data
my_col1

[1] "1 Rick"     "2 Dan"      "3 Michelle" "4 Ryan"     "5 Gary"
[6] "6 Nina"     "7 Simon"    "8 Guru"

In [ ]:
%%R
my_col2<-csv_data$data<-paste(csv_data$name,csv_data$salary)
csv_data
my_col2

[1] "Rick 623.3"   "Dan 515.2"    "Michelle 611" "Ryan 729"     "Gary 843.25"
[6] "Nina 578"     "Simon 632.8"  "Guru 722.5"